* {
    padding: 0;
    margin: 0;
}

body {
    background-color: pink;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    margin-top: 2rem;

}

.box {
    height: 100px;
    width: 100px;
    border: none;
    font-size: 8vmin;
    color: black;
    border-radius: 1rem;
    background-color: white;
}

.container {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    margin-top: 2rem;



}

#reset.btn {
    margin-top: 2rem;
    border-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 100px;

}

#new-btn {
    margin-top: 2rem;
    border-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 100px;

}

;

#msg {
    color: white;
    font-size: 8vmin;
}

.msg-container {
    height: 40vmin;

}

.hide {
    display: none;
}